@model IEnumerable<OdeToFood.Models.RestaurantViewModel>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
  <div>
      <h4>
          @item.Name
      </h4>
      <div>@item.City, @item.Country</div>
      <div>Reviews Count : @item.CountOfReviews </div>
      <hr />
  </div>  
} 